/* 屏幕以950px为基准，划分为19份，使用rem作为单位，则根元素字体为50px */
/* 既：1rem = 50px */
html{
    font-size: 50px;
}

.main{
    display: flex;
}

/* 左侧边栏 */
.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 5rem;
    height: 100vh;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1.2rem;
    background-color: rgb(1, 38, 82);
}

.logo img{
    margin-right: 1.5rem;
    width: 2.36rem;
    height: 0.8rem;
}

.drawer span{
    font-size: 0.52rem;
    color: #A8B9CE;
}

.drawer .inputs{
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0;
    cursor: pointer;
}

/* .inputs:hover + .double-left{
    color: rgb(255, 255, 255);
} */


.column{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 4.1rem);
    overflow-y: auto;
    background-color: rgb(1, 38, 82);
}

.column::-webkit-scrollbar{
    width: 0.16rem;
}

.column::-webkit-scrollbar-thumb{
    display: none;
    background-color: rgba(35, 87, 156, 0.7);
    border-radius: 0.08rem;
}

.column::-webkit-scrollbar-thumb:hover{
    display: block;
}

.domain_main{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.domain_main li{
    margin: 0.25rem 0;
}

.domain_interest{
    margin: 0.25rem auto;
}

.domain_interest button{
    width: 4rem;
    height: 0.64rem;
    border-radius: 0.8rem;
}

.domain_module{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.domain_module li{
    margin: 0.25rem 0;
}

.column span{
    margin-right: 0.3rem;
    color: white;
}

.column a{
    color: white;
}

.member{
    width: 100%;
    height: 2.9rem;
    border-top: 0.04rem solid rgba(35, 87, 156, 0.7);
    background-color: rgb(1, 38, 82);
}

/* 右侧边栏 */
.right-side{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 5rem);
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1.2rem;
    background-color: #fdfdfd;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.header .title{
    flex: 1;
    height: 100%;
}

.inputhb{
    display: none;
}

#title-h3 h4::after{
    content: '精选文章';
}

.header .title h4{
    text-align: center;
    font-size: 0.48rem;
    line-height: 1.2rem;
}


.search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 5;
    height: 100%;
}

.search .search-box{
    display: flex;
    align-items: center;
    width: 7rem;
    height: 0.8rem;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15);
}

.search-box input{
    text-indent: 0.5rem;
    width: calc(100% - 0.8rem);
    height: 0.8rem;
    font-size: 0.32rem;
    caret-color: blue;
}

.search-box button{
    border: none;
    width: 0.8rem;
    height: 0.8rem;
    background-color: rgb(0, 104, 230);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
}

.user img{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: calc(100vh - 1.2rem);
    background-color: #fdfdfd;
    overflow-y: auto;
}

.content div{
    width: calc(100% / 2);
    height: 2rem;
    background-color: #fcfcfc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 2rem;
}

/* 点击左侧菜单显隐按钮时左侧边栏 */
.active.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 1.28rem;
    height: 100vh;
}

.active.right-side{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 1.28rem);
    height: 100vh;
}

.active.logo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: rgb(1, 38, 82);
}


.active.logo img{
    margin-right: 0;
    width: 0.52rem;
    height: 0.52rem;
}

.active.drawer span{
    font-size: 0.52rem;
    color: #A8B9CE;
    /* cursor: pointer; */
}

.active.column{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 4.9rem);
    overflow-y: auto;
    background-color: rgb(1, 38, 82);
}

.active.column::-webkit-scrollbar{
    width: 0.16rem;
}

.active.column::-webkit-scrollbar-thumb{
    display: none;
    background-color: rgba(35, 87, 156, 0.7);
    border-radius: 0.08rem;
}

.active.column::-webkit-scrollbar-thumb:hover{
    display: block;
}

.active.column::-webkit-scrollbar-corner{
    display: none;
}

.active.domain_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.active.domain_main li{
    margin: 0.25rem 0;
}

.active.domain_interest{
    margin: 0.25rem auto;
}

.active.domain_interest button{
    width: 1rem;
    height: 0.6rem;
}

.active.domain_interest button span{
    margin-right: 0;
}

.active.domain_module{
    display: flex;
    flex-direction: column;
}

.active.domain_module li{
    margin: 0.25rem 0;
}

.active.column span{
    margin-right: 0.3rem;
    color: white;
}


.active.column a{
    color: white;
}

.active.member{
    width: 100%;
    height: 2.9rem;
    border-top: 0.04rem solid rgba(35, 87, 156, 0.7);
    background-color: rgb(1, 38, 82);
}

